In [5]:
import pandas as pd
print(pd.__version__)

1.2.4

In [10]:
df = pd.read_excel(r'/Users/clarehuang/Desktop/countydata.xlsx')
print(df)

        State Code  County Code  Crop Code        State   County  \
0                1            1         11      Alabama  Autauga
1                1            1         11      Alabama  Autauga
2                1            1         16      Alabama  Autauga
3                1            1         16      Alabama  Autauga
4                1            1         21      Alabama  Autauga
...            ...          ...        ...          ...      ...
178487          72          141       5000  Puerto Rico   Utuado
178488          72          141       7037  Puerto Rico   Utuado
178489          72          141       7164  Puerto Rico   Utuado
178490          72          141       7208  Puerto Rico   Utuado
178491          72          141       8005  Puerto Rico   Utuado

        State County Code            Crop        Crop Type Intended Use  \
0                    1001           WHEAT  SOFT RED WINTER        Grain
1                    1001           WHEAT  SOFT RED WINTER         Seed
2                    1001            OATS           WINTER        Grain
3                    1001            OATS           WINTER         Seed
4                    1001  COTTON  UPLAND              NaN        Blank
...                   ...             ...              ...          ...
178487              72141           HERBS         TURMERIC        Fresh
178488              72141      JACK FRUIT              NaN        Fresh
178489              72141        RAMBUTAN              NaN        Fresh
178490              72141      MANGOSTEEN              NaN        Fresh
178491              72141          LYCHEE              NaN        Fresh

       Irrigation Practice  Planted Acres  Volunteer Acres  Failed Acres  \
0                        N        62.1000              0.0           0.0
1                        N        62.7700              0.0           0.0
2                        N       108.5200              0.0           0.0
3                        N         9.5500              0.0           0.0
4                        I       574.5700              0.0           0.0
...                    ...            ...              ...           ...
178487                   N         0.4856              0.0           0.0
178488                   N         1.9424              0.0           0.0
178489                   N         6.7984              0.0           0.0
178490                   N         5.8272              0.0           0.0
178491                   N         0.9712              0.0           0.0

        Prevented Acres  Not Planted Acres  Planted and Failed Acres
0                   0.0                0.0                   62.1000
1                   0.0                0.0                   62.7700
2                   0.0                0.0                  108.5200
3                   0.0                0.0                    9.5500
4                   0.0                0.0                  574.5700
...                 ...                ...                       ...
178487              0.0                0.0                    0.4856
178488              0.0                0.0                    1.9424
178489              0.0                0.0                    6.7984
178490              0.0                0.0                    5.8272
178491              0.0                0.0                    0.9712

[178492 rows x 16 columns]

In [9]:
df.columns #The column labels of the DataFrame.

Index(['State Code', 'County Code', 'Crop Code', 'State', 'County',
       'State County Code', 'Crop', 'Crop Type', 'Intended Use',
       'Irrigation Practice', 'Planted Acres', 'Volunteer Acres',
       'Failed Acres', 'Prevented Acres', 'Not Planted Acres',
       'Planted and Failed Acres'],
      dtype='object')

In [8]:
df.index #The index (row labels) of the DataFrame.

RangeIndex(start=0, stop=178492, step=1)

In [48]:
df.dtypes #Return the dtypes in the DataFrame.
df.info #Print a concise summary of a DataFrame.

<bound method DataFrame.info of         State Code  County Code  Crop Code        State   County  \
0                1            1         11      Alabama  Autauga
1                1            1         11      Alabama  Autauga
2                1            1         16      Alabama  Autauga
3                1            1         16      Alabama  Autauga
4                1            1         21      Alabama  Autauga
...            ...          ...        ...          ...      ...
178487          72          141       5000  Puerto Rico   Utuado
178488          72          141       7037  Puerto Rico   Utuado
178489          72          141       7164  Puerto Rico   Utuado
178490          72          141       7208  Puerto Rico   Utuado
178491          72          141       8005  Puerto Rico   Utuado

        State County Code            Crop        Crop Type Intended Use  \
0                    1001           WHEAT  SOFT RED WINTER        Grain
1                    1001           WHEAT  SOFT RED WINTER         Seed
2                    1001            OATS           WINTER        Grain
3                    1001            OATS           WINTER         Seed
4                    1001  COTTON  UPLAND              NaN        Blank
...                   ...             ...              ...          ...
178487              72141           HERBS         TURMERIC        Fresh
178488              72141      JACK FRUIT              NaN        Fresh
178489              72141        RAMBUTAN              NaN        Fresh
178490              72141      MANGOSTEEN              NaN        Fresh
178491              72141          LYCHEE              NaN        Fresh

       Irrigation Practice  Planted Acres  Volunteer Acres  Failed Acres  \
0                        N        62.1000              0.0           0.0
1                        N        62.7700              0.0           0.0
2                        N       108.5200              0.0           0.0
3                        N         9.5500              0.0           0.0
4                        I       574.5700              0.0           0.0
...                    ...            ...              ...           ...
178487                   N         0.4856              0.0           0.0
178488                   N         1.9424              0.0           0.0
178489                   N         6.7984              0.0           0.0
178490                   N         5.8272              0.0           0.0
178491                   N         0.9712              0.0           0.0

        Prevented Acres  Not Planted Acres  Planted and Failed Acres
0                   0.0                0.0                   62.1000
1                   0.0                0.0                   62.7700
2                   0.0                0.0                  108.5200
3                   0.0                0.0                    9.5500
4                   0.0                0.0                  574.5700
...                 ...                ...                       ...
178487              0.0                0.0                    0.4856
178488              0.0                0.0                    1.9424
178489              0.0                0.0                    6.7984
178490              0.0                0.0                    5.8272
178491              0.0                0.0                    0.9712

[178492 rows x 16 columns]>

In [11]:
df.size #Return an int representing the number of elements in this object.

2855872

In [12]:
df.memory_usage #Return the memory usage of each column in bytes.

<bound method DataFrame.memory_usage of         State Code  County Code  Crop Code        State   County  \
0                1            1         11      Alabama  Autauga
1                1            1         11      Alabama  Autauga
2                1            1         16      Alabama  Autauga
3                1            1         16      Alabama  Autauga
4                1            1         21      Alabama  Autauga
...            ...          ...        ...          ...      ...
178487          72          141       5000  Puerto Rico   Utuado
178488          72          141       7037  Puerto Rico   Utuado
178489          72          141       7164  Puerto Rico   Utuado
178490          72          141       7208  Puerto Rico   Utuado
178491          72          141       8005  Puerto Rico   Utuado

        State County Code            Crop        Crop Type Intended Use  \
0                    1001           WHEAT  SOFT RED WINTER        Grain
1                    1001           WHEAT  SOFT RED WINTER         Seed
2                    1001            OATS           WINTER        Grain
3                    1001            OATS           WINTER         Seed
4                    1001  COTTON  UPLAND              NaN        Blank
...                   ...             ...              ...          ...
178487              72141           HERBS         TURMERIC        Fresh
178488              72141      JACK FRUIT              NaN        Fresh
178489              72141        RAMBUTAN              NaN        Fresh
178490              72141      MANGOSTEEN              NaN        Fresh
178491              72141          LYCHEE              NaN        Fresh

       Irrigation Practice  Planted Acres  Volunteer Acres  Failed Acres  \
0                        N        62.1000              0.0           0.0
1                        N        62.7700              0.0           0.0
2                        N       108.5200              0.0           0.0
3                        N         9.5500              0.0           0.0
4                        I       574.5700              0.0           0.0
...                    ...            ...              ...           ...
178487                   N         0.4856              0.0           0.0
178488                   N         1.9424              0.0           0.0
178489                   N         6.7984              0.0           0.0
178490                   N         5.8272              0.0           0.0
178491                   N         0.9712              0.0           0.0

        Prevented Acres  Not Planted Acres  Planted and Failed Acres
0                   0.0                0.0                   62.1000
1                   0.0                0.0                   62.7700
2                   0.0                0.0                  108.5200
3                   0.0                0.0                    9.5500
4                   0.0                0.0                  574.5700
...                 ...                ...                       ...
178487              0.0                0.0                    0.4856
178488              0.0                0.0                    1.9424
178489              0.0                0.0                    6.7984
178490              0.0                0.0                    5.8272
178491              0.0                0.0                    0.9712

[178492 rows x 16 columns]>

In [13]:
df.ndim #Return an int representing the number of axes / array dimensions

2

In [15]:
df.values #Return a Numpy representation of the DataFrame

array([[1, 1, 11, ..., 0.0, 0.0, 62.1],
       [1, 1, 11, ..., 0.0, 0.0, 62.77],
       [1, 1, 16, ..., 0.0, 0.0, 108.52],
       ...,
       [72, 141, 7164, ..., 0.0, 0.0, 6.7984],
       [72, 141, 7208, ..., 0.0, 0.0, 5.8272],
       [72, 141, 8005, ..., 0.0, 0.0, 0.9712]], dtype=object)

In [16]:
df.query #Query the columns of a DataFrame with a boolean expression.

<bound method DataFrame.query of         State Code  County Code  Crop Code        State   County  \
0                1            1         11      Alabama  Autauga
1                1            1         11      Alabama  Autauga
2                1            1         16      Alabama  Autauga
3                1            1         16      Alabama  Autauga
4                1            1         21      Alabama  Autauga
...            ...          ...        ...          ...      ...
178487          72          141       5000  Puerto Rico   Utuado
178488          72          141       7037  Puerto Rico   Utuado
178489          72          141       7164  Puerto Rico   Utuado
178490          72          141       7208  Puerto Rico   Utuado
178491          72          141       8005  Puerto Rico   Utuado

        State County Code            Crop        Crop Type Intended Use  \
0                    1001           WHEAT  SOFT RED WINTER        Grain
1                    1001           WHEAT  SOFT RED WINTER         Seed
2                    1001            OATS           WINTER        Grain
3                    1001            OATS           WINTER         Seed
4                    1001  COTTON  UPLAND              NaN        Blank
...                   ...             ...              ...          ...
178487              72141           HERBS         TURMERIC        Fresh
178488              72141      JACK FRUIT              NaN        Fresh
178489              72141        RAMBUTAN              NaN        Fresh
178490              72141      MANGOSTEEN              NaN        Fresh
178491              72141          LYCHEE              NaN        Fresh

       Irrigation Practice  Planted Acres  Volunteer Acres  Failed Acres  \
0                        N        62.1000              0.0           0.0
1                        N        62.7700              0.0           0.0
2                        N       108.5200              0.0           0.0
3                        N         9.5500              0.0           0.0
4                        I       574.5700              0.0           0.0
...                    ...            ...              ...           ...
178487                   N         0.4856              0.0           0.0
178488                   N         1.9424              0.0           0.0
178489                   N         6.7984              0.0           0.0
178490                   N         5.8272              0.0           0.0
178491                   N         0.9712              0.0           0.0

        Prevented Acres  Not Planted Acres  Planted and Failed Acres
0                   0.0                0.0                   62.1000
1                   0.0                0.0                   62.7700
2                   0.0                0.0                  108.5200
3                   0.0                0.0                    9.5500
4                   0.0                0.0                  574.5700
...                 ...                ...                       ...
178487              0.0                0.0                    0.4856
178488              0.0                0.0                    1.9424
178489              0.0                0.0                    6.7984
178490              0.0                0.0                    5.8272
178491              0.0                0.0                    0.9712

[178492 rows x 16 columns]>